.content {
    display: flex;
    gap: 50px;
    width: 100%;
    border: 1px solid #8d99ae;
    padding: 20px;

    &>.left {
        width: 50%;

        &>.image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #8d99ae;

            &>img {
                width: 80%;
                object-fit: contain;
            }
        }

        &>.title {
            font-size: 25px;
            font-weight: bold;
            word-break: break-all;
            padding: 10px;
        }

        &>.body {
            padding: 10px;
            word-break: break-all;
            font-size: 18px;
            opacity: 0.7;
        }
    }

    &>.right {
        width: 50%;
        margin: 0 auto;

        &>.comments {
            width: 90%;
            padding: 5px 0;
            overflow-y: scroll;
            list-style: none;
            height: 500px;
        }

        ::-webkit-scrollbar {
            width: 3px;
            height: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #8d99ae;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}