.flex {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &>.colomn {
        height: 450px;
        width: 400px;

        &>.card {
            &>img {
                width: 400px;
                height: 250px;
            }
        }
    }
}
@media only screen and (max-width:450px) {
    .colomn{
        width: 300px !important;
        &>.card{
            width: 300px;
            &>img{
                width: 300px !important;
                object-fit: cover;
            }
        }
    }
}